<div class="container">
<form action="/products/<%=@product["id"]%>" method="post">
  <p>
    <label>Name:</label>
    <input type="text" name="name" value="<%=@product["name"]%>">
  </p>

  <p>
    <label>Price:</label>
    <input type="number" name="price" value="<%=@product["id"]%>">
  </p>

  <p>
    <label>Description:</label>
    <textarea name="description"><%= @product["description"]%></textarea>
  </p>

  <p>
    <label>Remove Category:</label>
      <% @list_cat.each do |category| %>
        <button>Remove category: <%= category["name"] %></button>
      <% end %>
  </p><br>

  <p>
    <label>Add Category:</label>
    <select>
      <% @list_cat_avail.each do |category| %>
        <option><%= category["name"] %></option>
      <% end %>
    </select>
  </p><br>


  <p>
    <input type="submit" name="" value="Confirm product edits">
  </p>
</form>
</div>