<p> Name: <%= @product["name"] %> </p>
<p> Price: <%= @product["price"] %></p>
<p> Description: <%= @product["description"] %></p>
<p> Categories for this product: </p>
<% @list_cat.each do |category| %>
<li> <%= category["name"] %> </li>
<% end %>

<a href="<%=@product["id"]%>/edit"> Edit this product.</a><br>
<a href="/products"> Back to products page</a><br><br>
<form action="/products/<%= @product["id"] %>/destroy" method="post">
    <input type="submit" name="" value="Delete this product.">
</form>

